/*add.photo.css*/

/*Fichier pour ajouter du style a la 2éme modale lors de l'ajout des photos*/

/*C'est juste le formulaire de la 2éme modale*/

.image-ajout {
    margin-bottom: 5px;
    object-fit: cover;
    margin-left: 0;
    max-width: 100%;
    max-height: 100%;
   
}

.image-ajout:not(.dynamique) {
  margin-left: auto;
  margin-right: auto;
}

.add-photo {
    text-align: center;
    height: 200px;
    width: 420px;
    margin: auto;
    background: #e8f1f7;
    padding-top: 20px;
    box-sizing: border-box;
    margin-top: 40px;
    position: relative;
    margin-bottom: 40px;
  }
  
.fa.fa-image {
    font-size: 80px;
    color: #b9c5cc;
    margin-bottom: 10px;
  }
  
  #button-add-photo {
    width: 200px;
    height: 40px;
    background: #cbd6dc;
    border-radius: 50px;
    border: none;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.picture-format {
  margin-top: -10px; 
}
  
  #input-file {
    display: none;/*Je le fais disparaitre car ce n'est pas joli de laisser "choisir un fichier" visible*/
  }
  .label-title {
    display: block; /*Cette propriéte permet de décoller titre et catégorie des inputs(champs dde saisie)*/
    margin-top: 20px;
    margin-right: 375px;
    margin-bottom: 5px
  }

  .label-category {
   margin-bottom: 10px;
   display: block; /*Cette propriéte permet de décoller titre et catégorie des inputs(champs dde saisie)*/
   margin-top: 20px;
   margin-left: 20px
}
  
  
  